/*---------------- 
	Box Sizes
----------------*/
/* Square */
.size2-2 {
	width: 80px;
	height: 80px;
}
.size11 {
	height: 160px;
	width: 160px;
}
.size22 {
	height: 320px;
	width: 320px;
}
.size33 {
	width: 480px;
	height: 480px;
}

/* Horizontal */
.size-hs {
	width: 240px;
	height: 160px;
}
.size-hm {
	width: 480px;
	height: 320px;
}
.size-hl {
	width: 960px;
	height: 640px;
}
.size43 {
	width: 640px;
	height: 480px;
}
.size53 {
	width: 800px;
	height: 480px;
}

/* Horizontal 1.5:1 */
	.size-hs{
		width:120px;
		height:80px;
	}
	.size-hm{
		width:360px;
		height:240px;
	}
	.size-hl{
		width:360px;
		height:240px;
	}
/* Vertical 1:1.5 */
	.size-vs {
		width: 80px;
		height: 120px;
	}
	.size-vm {
		width: 160px;
		height: 240px;
	}
	.size-vl {
		width: 240px;
		height: 360px;
	}

/* Vertical short / Horizontal medium */
.size-vs-hm{
	width:240px;
	height:80px;
}

/* Vertical Medium / Horizontal Short */
.size-vm-hs{
	width:80px;
	height:240px;
}

.size24 {
	width: 320px;
	height: 640px;
}
.size34 {
	width: 480px;
	height: 640px;
}
.size35 {
	width: 480px;
	height: 800px;
}
.size36 {
	width: 480px;
	height: 960px;
}





