/*---------------- 
	Box Sizes
----------------*/
/* Horizontal 1.5:1 */
	.size-hs{
		width:120px;
		height:80px;
	}
	.size-hm{
		width:240px;
		height:160px;
	}
	.size-hl{
		width:360px;
		height:240px;
	}
/* Vertical 1:1.5 */
	.size-vs {
		width: 80px;
		height: 120px;
	}
	.size-vm {
		width: 160px;
		height: 240px;
	}
	.size-vl {
		width: 240px;
		height: 360px;
	}

/* Vertical short / Horizontal medium */
.size-vs-hm{
	width:240px;
	height:80px;
}

/* Vertical Medium / Horizontal Short */
.size-vm-hs{
	width:80px;
	height:240px;
}




