/* Phone */
@media screen and (max-width:768px) {

	#Freewall{
	width:100%;
	padding-right:5px;
	}
	/* Modal */
	.modal-open .menu-btn{
		display:none;
	}
	.modal.modal-wsidebar{
		.modal-body{
			width:100%;
			padding:0 10px;
		}
		.sidebar{
			width:100%;
			padding:10px;
			.sidebar-container{
				width:100%;
				max-width: 100%;
			}
			h1{
				margin:0;
				font-size:22px;
			}
		}
	}
	.modal{
		left:0;
		padding-top:60px;
		background-color:transparent;

		.close{
			top:0;
			padding:10px;
			text-align: center;
			position: fixed;
		}
		.modal-content{
			overflow-y:scroll;
			padding-bottom:50px;
		}
		.sidebar{
			height:auto;
			display:block;
			position: relative;
		}
		.modal-body{
			padding:10px;
			height:auto;
			overflow-y:hidden;
		}
	}
	.modal-backdrop{
		left:0;
		top:60px;
	}
	.previous,
	.next{
		display:none;
	}

	ul.thumbnails{
		display:none;
	}

	/* Sidebar */
	.sidebar{
		width:100%;
		height:60px;
		display: block;
		padding:0;
		text-align: center;
		z-index: 100;
		position:relative;

		header{
			width:100%;
			height:100%;
		}
		#Logo{
			height:100%; 
		}

		#Logo img{
			height:50px;
			width:auto;
			margin-top:10px;
		}
		h1{
			width:100%;
			top:20px;
			font-size:24px;
		}
		>p,
		#Scroll_Right{
			display:none;
		}
		.filter-items{
			display:none;
			margin-top:0;
			border-top:1px solid #eee;
			li{
				background-color: #fff;
				line-height: 40px;
				border-bottom:1px solid #eee;
				transition:background-color .5s ease;
				&:hover,
				&.active{
					text-decoration: none;
					background-color:#000;
					color:#fff;
					cursor: pointer;

					a{
						text-decoration: none;
						color:#fff;
					}
				}
			}
		}
		
		.menu-btn{
			position:absolute;
			top:20px;
			right:20px;
			@include modalbutton();
		}
		.menu-btn span{
			display:block;
			width:25px;
			height:3px;
			margin:4px 0;
			background:#000;
			z-index:99;
		}
	}
	.thumbnails{
		display:none;
	}
	.overlay{
		opacity:0;
	}
	
	#Layout{
		left:0;
		top:60px;
		overflow-y:scroll;
		overflow-x:hidden;
	}
	/*---------------- 
	Box Sizes
	----------------*/
	/* Square */
	.size2-2 {
		width: 80px * .6;
		height: 80px * .6;
	}
	.size11 {
		height: 160px * .6;
		width: 160px * .6;
	}
	.size22 {
		height: 320px * .6;
		width: 320px * .6;
	}
	.size33 {
		width: 480px * .6;
		height: 480px * .6;
	}

	/* Horizontal */
	.size21 {
		width: 320px * .6;
		height: 160px * .6;
	}
	.size31 {
		width: 480px * .6;
		height: 160px * .6;
	}
	.size32 {
		width: 480px * .6;
		height: 320px * .6;
	}
	.size43 {
		width: 640px * .8;
		height: 480px * .8;
	}
	.size53 {
		width: 800px * .6;
		height: 480px * .6;
	}

	/* Vertical */
	.size12 {
		width: 160px * .7;
		height: 320px * .8;
	}
	.size13 {
		width: 160px * .6;
		height: 480px * .6;
	}
	.size23 {
		width: 320px * .6;
		height: 480px * .6;
	}
	.size24 {
		width: 320px * .8;
		height: 640px * .8;
	}
	.size34 {
		width: 480px * .6;
		height: 640px * .6;
	}
	.size35 {
		width: 480px * .6;
		height: 800px * .6;
	}
	.size36 {
		width: 480px * .6;
		height: 960px * .6;
	}

}